@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;400;800;900 & display=swap');

body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 3%;
/* background-color: blue; */
padding: 15px;
width: 100%;
z-index: 5;
text-align: center;
}
header h1{
    text-transform: uppercase ;
    font-size: 2.6rem;
    font-weight: 900;
    border: solid 5px blue;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 0, 189);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 32px;
}
.welcome{
    max-width: 100%;
    font-size: 3rem;
    width: 1200px;
   /* background-color: blue; */
    position: relative;
    margin: 10px auto;
    height: 550px;
    }
    
    .welcome img{
        top: 28%;
    position: absolute;
    left: 58%;
    width: 220px;
border-radius: 40%;    
background-color: gray;
border-top-right-radius: 0;
}
    
    .welcome h2{
    font-size: 2.8rem;
    text-transform: uppercase;
    position: absolute;
    left: 5%;
    top: 40%;
color:#333
    }

    .welcome h2 span {
font-weight: bold;
color: rgb(139, 0, 30);
width: 50px;
height: 10px auto;
   
}

nav{
    position: sticky;
    top: 0px;
    margin: 25px auto;
    background-color: rgb(99, 97, 97);
    z-index: 15;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(44, 37, 37);

}

/* main content style */

main.main-content{
    width: 100%;
    max-width: 1000px;
margin: 75px auto;
}

section h2{
margin-top: 3rem;
margin-bottom: 1rem;
font-size: 1.8rem;
color: blue;
}
section p{
    font-size: 1.4rem;
}

.images{
    display: flex;
    justify-content: space-between;
}
.images li{
list-style-type: none;
margin-right: 10px;
}
.image img{
    width: 100%;
    border: solid 1px black;
    border-radius: 1rem;
}
div.services .row{
    display: flex;
    margin-bottom: 2rem;
}
div.service-title{
    display: flex;
}
.service-title img{
    width: 40px;
    margin-right: 15px;
}
div.service-title h3{
    font-size: 1.5rem;
    color: #444;
}

form{
    border: solid 2px #ddd;
    width: 50%;
    padding: 25px;
    background-color: #0062ff94;
    border-radius: 2rem;
}
form input[type='text'], form input[type='email'], form textarea{
    padding: 8px;
    font-size: 1.2rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 6px 0;
}
form input[type='submit']{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color:#fff;
    color: #0062ff;
    padding: 10px 24px;
    border-radius: 2rem;
}
.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.whatsapp img.logo{
    height: 50px;
}
.whatsapp span.phone{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}
div.form{
    position: relative;
}
div.form form{
    position: absolute;
    top: 20%;
    left: 40%;
}
footer{
    width: 100%;
    background-color: #0062ff;
    color: #fff;
}
footer p{
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
}
footer p a{
    text-decoration: none;
    color: rgb(175, 11, 11) ;
    font-weight: bold;
}